body {
  background-image: url("https://img.favcars.com/toyota/supra/wallpapers_toyota_supra_1982_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

h1, h2 {
  font-family: 'Chakra Petch', sans-serif;
  color: #FE1913;
  display: block;
  text-shadow: 3px 6px #C6D8E6;
  position: absolute;
  right: 100px;
  top: 100px;
}

h1 {
  font-size: 180px;
  font-weight: bold;
  position: absolute;
  right:  202px;
  top: -50px;
}

h2 {
  font-size: 80px;
  position: absolute;
  top: 300px;
  right: 280px;
}